.animeWrapper {
    margin-top: 30px;

    div,
    h1,
    h2,
    h3,
    h5,
    h6,
    span,
    p {
        color: white;
    }
}

.divider {
    padding: 0;
    margin: 0;
    border: 1px black solid;
    color: black;
}

.animeContainer {
    span {
        width: 100%;
        display: block;
    }
}

.animePlayerWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}

.voiceOver {
    color: white !important;
}