.animeListWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    overflow-x: hidden;
    height: min-content;
    width: 100%;

    >div {
        height: min-content;
    }

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    p {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal;
        color: white;
    }
}

.popoverContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
        display: flex;
        border: transparent;
        background: transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        :last-child {
            width: 100%;
            text-align: center;
        }
    }
}

.animeListWrapper::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em
}

.animeListWrapper::-webkit-scrollbar-button {
    background: #ccc
}

.animeListWrapper::-webkit-scrollbar-track-piece {
    background: #888
}

.animeListWrapper::-webkit-scrollbar-thumb {
    background: #eee
}

.animeListContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    span {
        text-overflow: ellipsis;
        overflow: auto;
        white-space: nowrap;
    }
}

.animeListImage {
    object-position: center center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;

    img {
        scale: 120%;
    }
}